{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Welcome to Tools Web</h1>
    <p class="lead">A collection of tools for enthusiasts.</p>
    <div class="mt-4">
        <!-- btn-primary btn-secondary btn-info -->
        <a href="/word-finder" class="btn btn-secondary btn-lg">Go to Word Finder</a>
        <a href="/case-converter" class="btn btn-secondary btn-lg">Go to Case Converter</a>
        <a href="/leap-year-checker" class="btn btn-secondary btn-lg">Go to Leap Year Checker</a>

    </div>
</div>

<!-- 制作人姓名 -->
<div class="maker-name">
    <div class="maker-name-line">
        <span class="label">制作人：</span>
        <span class="value">Kaede</span>
    </div>
    <div class="maker-name-line">
        <span class="label">时&emsp;间：</span> <!-- 使用 &emsp; 增加空格 -->
        <span class="value">2025.02.09</span>
    </div>
</div>

{% endblock %}