/* 自定义样式 */
.word-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
}

.word-item {
    padding: 4px;
    background: #f5f5f5;
    border-radius: 4px;
    text-align: center;
}

.badge {
    font-size: 1rem;
    padding: 0.5em 0.75em;
}

/* 新增导航栏样式 */
.navbar-nav .nav-link {
    font-size: 16px;
    color: #f5f5f5 !important;
    margin: 0 12px;
    transition: all 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #f5f5f5 !important;
    transform: scale(1.05);
}

.navbar-nav .nav-item.active .nav-link {
    color: #00ff00 !important;
    font-weight: bold;
}

/* 大小写转换工具样式 */
.case-converter {
    margin-top: 2rem;
}

/* 制作人姓名样式 */
.maker-name {
    position: fixed; /* 固定定位 */
    bottom: 10px; /* 距离页面底部的距离 */
    right: 10px; /* 距离页面右侧的距离 */
    color: #666; /* 字体颜色 */
    font-size: 0.8rem; /* 默认字体大小 */
    padding: 5px; /* 内边距 */
    background: #f9f9f9; /* 背景颜色 */
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 垂直排列 */
    align-items: flex-start; /* 对齐方式 */
}

.maker-name-line {
    display: flex; /* 使用 flex 布局 */
    align-items: flex-start;
    width: 120px; /* 设置固定宽度 */
    margin-bottom: 5px; /* 行间距 */
}

.label {
    font-weight: bold; /* 标签加粗 */
    white-space: nowrap; /* 防止换行 */
    /*margin-right: 3px; !* 标签和值之间的间距 *!*/
    letter-spacing: 1px; /* 调整字符间距 */
}

.value {
    text-align: left; /* 值左对齐 */
}